/*
*/
*头部导航条的样式代码
*/
/*清空不需要的样式*/
li{
    list-style: none;
}
a{
    vertical-align: top;
}
a:hover,a:focus{
    text-decoration: none;
    color:#fa2a83;
}
header{
    min-width: 1000px;
    width:100%;
}
img{
    border: 0 none;
    vertical-align: top;
}
/*头部小导航条*/
#top-nav{
    width: 100%;
    position: relative;
    z-index: 103;
    height: 28px;
    line-height: 26px;
    background-color: #f5f5f5;
}
#top-nav >.head-inner{
    height: 100%;
}
#top-nav >.head-inner >.c-h-area{
    width: 86px;
    height: 28px;
    display: inline-block;
    position: relative;
    color: #333;
    font-size: 12px;
    margin-left: 55px;
    line-height: 28px;
} 
/*选择城市*/
#top-nav >.head-inner >.c-h-area>.c-h-area-header{
    cursor: pointer;
    padding-left: 5px;
}
#top-nav >.head-inner >.c-h-area>.c-h-area-header span{
   display: inline-block;
}
/*选择城市的下拉列表*/
#top-nav >.head-inner >.c-h-area>.c-h-area-body{
    display: none;
    position: absolute;
    top: 28px;
    left: 0;
    padding-right: 15px;
    padding-left: 15px;
    width: 470px;
    z-index: 100;    
    background-color: #fff;
    border: 1px solid #ccc;
}
#top-nav >.head-inner >.c-h-area>.c-h-area-body>.c-h-area-tab>.c-h-area-tab-header{
    height: 29px;
    width: 100%;
    border-bottom: 1px solid gainsboro;
}
#top-nav >.head-inner >.c-h-area>.c-h-area-body>.c-h-area-tab span{
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    width: 65px;
    height: 29px;
    text-align: center;
    border:1px solid gainsboro;
    border-top: 2px solid #fa2a83;
    border-bottom: 1px solid white;

}
#top-nav >.head-inner >.c-h-area>.c-h-area-body>.c-h-area-tab>.c-h-area-tab-body{
    padding: 20px 13px 18px;
}
#top-nav >.head-inner >.c-h-area>.c-h-area-body>.c-h-area-tab>.c-h-area-tab-body ul{
    width: 408px; 
}
#top-nav >.head-inner >.c-h-area>.c-h-area-body>.c-h-area-tab>.c-h-area-tab-body li{
    width: 68px;
    height: 26px;
    float: left;
    margin-bottom: 2px;
    text-align: center;
}
#top-nav >.head-inner >.c-h-area>.c-h-area-body>.c-h-area-tab>.c-h-area-tab-body li:hover{
    border:1px solid #fa2a83;
    cursor: pointer;
    color:#fa2a83;
}
/*点击关闭下拉列表*/
#top-nav >.head-inner >.c-h-area>.c-h-area-body >a{
    position: absolute;
    top: 14px;
    right: 14px;
    color: #8b8a8b;
    font-size: 12px;
    line-height: 1;
}
/*右侧导航条*/
#top-nav >.head-inner >ul{
    float: right;
    margin-right: 80px;
    width:772px;
    height: 28px;
}
#top-nav >.head-inner> ul> li{
    float: left;
    width:11.1%;
    box-sizing: border-box;
    font-size: 12px;
    text-align: center;
    position: relative;
}
.glyphicon-gift{
    color: #fa2a83;
}
#top-nav >.head-inner> ul> li::after{
    background-image: url(../images/sprites-hash-3d6b1820.png);
    background-position: -270px -184px;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 6px;
    right: -5px;
    z-index: 1;
    content: '';
}
#top-nav >.head-inner> ul> li a{
    color: #666;
}
#top-nav >.head-inner> ul> li a:hover{
    color:#fa2a83;
}
/*logo区域*/
.head-logo{
   height: 100px;
   padding-top: 20px;
   background-color: #fff;
}
.head-logo>.head-inner{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    clear: both;
    z-index: 102;
}
/*购物车区域*/
.head-logo>.head-inner>.head-cart{
    width: 96px; 
    margin-top: 33px;
    margin-left: 15px;
    float: right;
    position: relative;
    z-index: 9;
    height: 34px;    
}
/*搜索区域*/
.head-logo>.head-inner>.c-search{
    float: right;
    position: relative;
    z-index: 10;
    margin-top: 33px;
    width: 389px;
}
.head-logo>.head-inner>.c-search>.c-search-from{
    position: relative;
    z-index: 2;
    width: 387px;
    height: 32px;
    border: 1px solid #fa2a83;
    border-radius: 2px;
    background-color: #fff;
}
.c-search>.c-search-from>.c-search-input{
    padding: 2px 12px;
    *margin-top: -1px;
    width: 311px;
    height: 28px;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    border:none;
    background-color: #fff;
    outline: none;
}
.c-search>.c-search-from>.c-search-button{
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 6px;
    width: 53px;
    height: 31px;
    text-align: center;
    background-color: #fa2a83;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.c-search>.c-search-from>.c-search-button span{
    background-image: url(../images/all-icon.png);
    background-position: -72px -208px;
    width: 19px;
    height: 22px;
    display: inline-block;
}
/*logo区域*/
.head-logo>.head-inner>.c-logo{
    position: relative;
    float: left;
    z-index: 1;
    margin-right: 1px;
    min-width: 140px;
    height: 100px;  
}
.c-logo>.header-logo-dop{
    margin-left: -20px;
    min-width: 160px;
    overflow: hidden;
    display: inline-block;
}
.head-logo>.head-inner>.c-service{
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 304px;
    height: 100px;   
}
/*重要的导航栏*/
.main-nav{
    clear: both;
    /* position: relative; */
    height: 43px;
    line-height: 43px;
    background-color: #fff;
    font-size: 14px;
    color: #fff;
    top:0;
    z-index: 1000;
    width:100%;
    box-shadow: 1px 1px 2px rgb(219, 214, 214);
}
.main-nav>.head-inner{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    clear: both;
}
/*分类连接的那部分导航*/
.main-nav>.head-inner>.main-nav-link{
    height: 43px;
}
.main-nav>.head-inner>.main-nav-link >li{
    float: left;
    position: relative;
    z-index: 8;
    width: 60px;
    height: 43px;
    text-align: center;
    overflow: hidden;
}
.main-nav>.head-inner>.main-nav-link >li a{
    color:black;
    font-size: 15px;
    font-family: '微软雅黑';
}
.main-nav>.head-inner>.main-nav-link >li+li>a:hover{
    color:#f10180;
}
.main-nav>.head-inner>.main-nav-link>li a.femal{
    color: #f10180;
}
.main-nav>.head-inner>.main-nav-link >li a span{
    display: inline-block;
    margin: 0 4px 0 4px;
}
/*带有侧边栏的导航*/
.main-nav>.head-inner>.main-nav-link> .nav-category{
    background-color: #f10180;
    width: 156px;
    height: auto;
    margin-right: 20px;
    margin-left: -45px;
    color:white;
    text-align: center;
}
.main-nav>.head-inner>.main-nav-link> .nav-category a{
    color:white;
}
/*鼠标放到更多上时，出现选项*/
.main-nav>.head-inner>.main-nav-link>li:last-child{
    transition: height 0.5s; 
    position:absolute;
    left:850px;
    top:1px;
}
.main-nav>.head-inner>.main-nav-link>li:last-child>p{
    width:100%;
    height: 40px;
    margin:0;
    background-color: #fff;
}
.main-nav>.head-inner>.main-nav-link>li:last-child>p a{
    color:black;
}
.main-nav>.head-inner>.main-nav-link>li:last-child>p a:hover{
    color:#f10180;
}
.main-nav>.head-inner>.main-nav-link>li:last-child:hover{
  height: 243px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~轮播图区域~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.focus-banner{
    width:100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url(images/banner.jpg);
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
    height: 392px;
    margin-bottom: 10px;
}
.focus-banner-con-wrq{
    padding: 0;
    background: rgba(255,255,255,.86);
    width: 976px;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(167,167,167,.4);
}
.focus-banner-con{
    width: 976px;
    border-bottom: none;
    height: 340px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.focus-banner-con>.fbc-list{
    z-index: 1;
    overflow: hidden;
    width:976px;
    height: 340px;
}
.carousel-inner,.carousel-inner .item{
    width:100%;
    height: 100%;
}
/*轮播图标题*/
.focus-banner-con>.fbc-list .carousel-caption{
    font-size: 16px;
    color: #f10180;
    margin-bottom: -40px;
}
.carousel-indicators li{
    border:1px solid #f10180;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~轮播图结束~~~~~~~~~~~~~~~~~~*/

*{
    padding: 0;
    margin: 0;

}

.all{
    width: 100%;
    margin: 0 auto; 
}

.title{
   width: 100%;
   font-size: 15px;
   font-family: 微软雅黑;
   color: #aaa;
   text-align: center;
   margin-top: 50px;
}
ul {
    list-style: none;
}
.tab {
    width: 100%;
/*     background-image: url(bg1.png);*/  
    background-size: cover;
    margin-top: 50px;
    text-align: center;
}
.tab .box {
    width: 1000px;
    position: relative;
    margin: 0 auto;
    height: 450px;
}
.tab .box .menus {
    width: 100px;
    height: 450px;
    float: left;
    background-color:#ff6f8a;
    overflow: hidden;
    margin-left: 50px;
}
.tab .box .menus li {
    width: 100px;
    height: 70px;
    background-color:#ff6f8a;
    font-size: 20px;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.0);
    line-height: 70px;
}
.tab .box .menus li a{
    color: #fff;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #ff6f8a;
    border: none;
    border-bottom-color: #ff6f8a;
}
.tab .box .bg {
    height: 110px !important;
    background-color:#ff6f8a !important;
    line-height: 110px !important;
}
.tab .right {
    float: left;
    width: 800px;
    height: 450px;
    overflow: hidden;
}
.tab .tab_right {
    width: 795px;
    height: 445px;
    margin: 0 auto;
}
.tab .tab_right a{
    display: block;
    width: 100%;
    height: 100%;
}
.tab .tab_right img {
    width: 100%;
    height: 100%;
}
.tab .tab_right img:hover{
    cursor: pointer;
}
/*~~~~~~~~~~~~~~~~~~~~~~女装特卖*************/
.bottom{
    margin:0 auto;
    width: 1200px;
    height: auto;
}
.one{
    width: 550px;
    height: 275px;
    margin-bottom: 20px;
    margin-right: 10px;
    background: #fff;
    float: left;
    position: relative;
    margin-left: 20px;
    margin-top: 30px;
    transition: transform 0.4s;
}
.one:hover{
    transform: translateX(5px);
    cursor: pointer;
}
.picture{
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
}
.wordsleft {
    width: 68px;
    z-index: 1000;
    position: absolute;
    top: 250px;
    color:#f10582;
    line-height: 18px;
    font-size: 12px;
    right: 3px;
    background-color: white;
    border-radius: 10em;
    margin-left: 2px;
}
.word{

    width: 550px;
    height: 30px;/* 高度 */
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    position: absolute;
    top: 245px;/* 阴影上面的高度 */
    color:white;
    line-height: 30px;
    font-size: 12px;
    padding-left: 10px;
}
.pri{
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}
.left{
    font-size: 24px;
    color: #f10582;
    margin-right: 4px;
    font-weight: 700;
}
.right{
    float: right;
    left: 100px;
    font-weight: 100; 
    font-size: 12px;
    color: #f10582;
    margin-right: 45px;
}
/**************************尾部区域***********************************/
.footer {
    display: block;
    clear: both;
    padding-top: 0px;
    background-color: rgb(252, 252, 252);
    color: rgb(77, 77, 77);
    font: 12px/22px tahoma, arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", 微软雅黑, 宋体, sans-serif;
    overflow: hidden;
    border-top: 1px solid rgb(235, 235, 235);
    margin-top: 30px;
}
.footer-inner {
    width: 960px;
    margin: 0px auto;
    overflow: hidden;
}
/***********图标部分**************/
.footer-vip {
    overflow: hidden;
    width:960px;
    padding: 0;
    height: 105px;
}
.footer-vip>li{
    float: left;
    width: 96px;
    height: 105px;
}
.footer-vip>li {
    display: block;
    margin-top: 30px;
    margin-right: 28px;
    margin-left: 10px;
    width: 58px;
    height: 75px;
    font-size: 0;
    text-indent: -100%;
}
.footer-vip-ico01{
    background: url(images/footer_vip_icon.png);
    background-position: 0 0;
}
.footer-vip-ico02 {
    background: url(images/footer_vip_icon.png);
    background-position: -80px 0;
}
.footer-vip-ico03 {
    background: url(images/footer_vip_icon.png);
    background-position: -160px 0;
}
.footer-vip-ico04 {
    background: url(images/footer_vip_icon.png);
    background-position: -240px 0;
}
.footer-vip-ico05 {
    background: url(images/footer_vip_icon.png);
    background-position: -320px 0;
}
.footer-vip-ico06 {
    background: url(images/footer_vip_icon.png);
    background-position: -400px 0;
}
.footer-vip-ico07 {
    background: url(images/footer_vip_icon.png);
    background-position: -480px 0;
}
.footer-vip-ico08 {
    background: url(images/footer_vip_icon.png);
    background-position: -560px 0;
}
.footer-vip-ico09 {
    background: url(images/footer_vip_icon.png);
    background-position: -640px 0;
}
.footer-vip-ico10 {
    background: url(images/footer_vip_icon.png);
    background-position: -720px 0;
}
/****************服务列表*****************/
.footer-list {
    width: 960px;
    height: 146px;
    zoom: 1;
    line-height: 20px;
    overflow: hidden;
    margin: 37px 0px 25px;
}
.footer-list dl {
    float: left;
    width: 162px;
    height: 146px;
    padding-left: 16px;
    border-right: 1px solid #e0e0e0;
}
.footer-list >.link-anim>dd{
    transition: transform 0.8s;
}
.footer-list >.link-anim>dd:hover{
  transform: translateX(5px);
}
.footer-list >.link-anim>dd:hover>a{
    color:rgb(215, 35, 126);
}
.footer-list dt {
    margin-bottom: 4px;
    color: #4d4d4d;
}
.footer-list .tc {
    padding-left: 0;
    width: 136px;
    text-align: center;
}
.footer-list .tc dd {
    background: 0 0;
    padding-left: 0;
}
.footer a {
    color: grey;
    text-decoration: none;
}
/*************联系我们*****************/
.footer-infor {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
}
.footer-infor-link {
    background-color: rgb(215, 35, 126);
    line-height: 30px;
}
.footer-infor-link a {
    margin-left: 2px;
    margin-right: 2px;
    color: rgb(255, 255, 255);
}
.footer-infor-link a:hover{
    color:rgb(148, 144, 144);
}

/************************/
.footer-infor-txt {
    color: rgb(153, 153, 153);
    line-height: 19px;
    margin: 14px 0px;
}
